.container {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
}

.btn {
  margin-top: 15px;
  width: 40%;
  background-color: #ff7a00;
  border-color: #ff7a00;
  text-shadow: 1px 1px #b35500;
  border-radius: 8px;
}

form {
  margin-top: 30px;
  margin-bottom: 15px;
  min-width: 250px;
}

mat-form-field {
  padding: 0 !important;
}
