.btn {
  color: white;
  background-color: #ff7a00;
  border: 1px solid #ff7a00;
  text-shadow: 1px 1px #b35500;
  width: 100%;
}

.col-12 {
  text-align: justify;
}

.row {
  margin-bottom: 15px;
}

h6,
h5,
h4 {
  margin: 0;
}

#lastRow {
  margin-top: 30px;
}

.detailImg {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
}

.backBtn {
  button {
    background-color: gray;
    border: gray;
    text-shadow: none;
  }
}

.editBtn {
  button {
    background-color: goldenrod;
    border: goldenrod;
    text-shadow: none;
  }
}

.removeBtn {
  button {
    background-color: palevioletred;
    border: palevioletred;
    text-shadow: none;
  }
}
