<div class="row">
  <div class="col-lg-6 col-md-5">
    <img class="detailImg" src="{{ item.picture }}" />
  </div>
  <div class="col-lg-6 col-md-7 text-right">
    <div class="row">
      <div class="col-4 my-auto">
        <h6>Article</h6>
      </div>
      <div class="col-8">
        <h4>
          <b>{{ item.name }}</b>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-4 my-auto">
        <h6>Price</h6>
      </div>
      <div class="col-8">
        <h5>
          <b>${{ item.price }}</b>
        </h5>
      </div>
    </div>
    <div id="lastRow" class="row">
      <div class="col-4 my-auto">
        <h5>I like that!</h5>
      </div>
      <div class="col-4 offset-4">
        <button class="btn btn-primary" (click)="addToCart(item)">Add ></button>
      </div>
    </div>
    <div class="row">
      <div class="backBtn col-4 offset-8">
        <a routerLink="/items">
          <button class="btn btn-primary">< Back</button>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="removeBtn col-4 offset-4">
        <button class="btn btn-primary" (click)="removeProduct()">
          Remove
        </button>
      </div>
      <div class="editBtn col-4">
        <button class="btn btn-primary" (click)="openDialog(item)">Edit</button>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <p>{{ item.details }}</p>
</div>
<div>
  <h4>Other items you might be interested in:</h4>
  <div class="row card-group">
    <div *ngFor="let item of suggestedItems.slice(0, 3)" class="col-4">
      <app-suggested-product [item]="item"></app-suggested-product>
    </div>
  </div>
</div>

<div
  class="mx-auto my-auto text-center alert alert-danger"
  role="alert"
  *ngIf="deleteError"
>
  Error on deleting the product.
</div>
