.card {
  background-color: #ff7a00;
  text-shadow: 1px 1px #b35500;
  font-family: "Poppins", sans-serif;
  max-width: 18rem;
}

li {
  margin-bottom: 5px;
}

ul {
  padding-left: 15px !important;
}

.cartCol {
  padding: 0 !important;
}

.iconBtn {
  margin-right: 5px;
  cursor: pointer;
}

.btn {
  padding: 0;
}
