footer {
  padding: 15px !important;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}

.footerIcon {
  width: 30px;
  height: 30px;
}

.footerTxt {
  font-size: smaller;
  color: gray;
}

.footer-copyright {
  font-size: small;
  color: gray;
  padding: 0;
}

.pjatkLink {
  color: gray;
}

.d-flex {
  flex-wrap: wrap;
}

.signUpContainer {
  background-color: #181c28;
  margin-bottom: 15px;
  padding-top: 15px;
  height: 100%;
}

#footerSignUp {
  height: 100%;
  min-height: 120px;
  color: white;
}

.btn-outline-secondary {
  background-color: #ff7a00;
  color: white;
  border: 1px solid #ff7a00;
  text-shadow: 1px 1px #b35500;
}

.form-control {
  border: none;
}

@media screen and (max-width: 575px) {
  .list-unstyled {
    text-align: center !important;
  }
}
