<mat-dialog-content class="mat-typography">
  <div class="addForm">
    <form [formGroup]="addForm">
      <mat-form-field class="col-4">
        <input type="text" matInput placeholder="name" formControlName="name" />
        <mat-error *ngIf="addForm.controls['name'].hasError('required')">
          Field required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-2">
        <input
          type="number"
          matInput
          placeholder="price"
          formControlName="price"
        />
        <mat-error *ngIf="addForm.controls['price'].hasError('required')">
          Field required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="text"
          matInput
          placeholder="pictureUrl"
          formControlName="pictureUrl"
        />
        <mat-error *ngIf="addForm.controls['pictureUrl'].hasError('required')">
          Field required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="text"
          matInput
          placeholder="manufacturer"
          formControlName="manufacturer"
        />
        <mat-error
          *ngIf="addForm.controls['manufacturer'].hasError('required')"
        >
          Field required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="text"
          matInput
          placeholder="itemCode"
          formControlName="itemCode"
        />
        <mat-error *ngIf="addForm.controls['itemCode'].hasError('required')">
          Field required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="text"
          matInput
          placeholder="color"
          formControlName="color"
        />
        <mat-error *ngIf="addForm.controls['color'].hasError('required')">
          Field required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-6">
        <input
          type="text"
          matInput
          placeholder="material"
          formControlName="material"
        />
        <mat-error *ngIf="addForm.controls['material'].hasError('required')">
          Field required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-12">
        <input
          type="text"
          matInput
          placeholder="details"
          formControlName="details"
        />
        <mat-error *ngIf="addForm.controls['details'].hasError('required')">
          Field required.
        </mat-error>
      </mat-form-field>
    </form>
    <div
      class="mx-auto my-auto text-center alert alert-danger"
      role="alert"
      *ngIf="saveErrorMsg"
    >
      Error on saving the product.
    </div>
    <div
      class="mx-auto my-auto text-center alert alert-danger"
      role="alert"
      *ngIf="loadErrorMsg"
    >
      Error on loading the product.
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btnCancel btn btn-primary" mat-dialog-close>Cancel</button>
  <button class="btnAdd btn btn-primary" (click)="onSubmit()">
    Save Product
  </button>
</mat-dialog-actions>
