.btnCancel {
  color: white;
  background-color: gray;
  border: 1px solid gray;
  text-shadow: none;
  margin-right: 2px;
}

.btnAdd {
  color: white;
  background-color: #ff7a00;
  border: 1px solid #ff7a00;
  text-shadow: 1px 1px #b35500;
}
