.container {
  margin-top: 15px;
}

.box {
  text-align: center;
  border: 1px solid black;
  padding: 3ch;
  position: relative;
  min-width: 30ch;
  font-family: "Poppins", sans-serif;
}

.col-md-3 {
  padding-right: 15px;
}

.border {
  padding: 10px;
}

.btn {
  width: 80%;
  background-color: gray;
  border: gray;
  text-shadow: none;
}

.backBtn {
  margin-bottom: 10px;
}

.addBtn {
  margin-top: 10px;
}

.alert {
  margin-left: 20px;
  padding: 5px;
}
