.greetings {
  font-family: "Poppins", sans-serif;
  margin: 5px;
}

.couple {
  width: 100%;
  height: auto;
}

.mainImgContainer {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.mainImgTxt {
  position: absolute;
  top: 25%;
  left: 10%;
  text-align: left;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px black;
}

.itemsBtn {
  background-color: #ff7a00;
  color: white;
  border-radius: 8px;
  position: absolute;
  top: 45%;
  left: 10%;
  width: 17%;
  height: 8%;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px #b35500;
}

@media screen and (min-width: 992px) {
  .mainImgTxt {
    font-size: 1.8rem;
  }
  .itemsBtn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 991px) {
  .mainImgTxt {
    font-size: 1.5rem;
  }
  .itemsBtn {
    font-size: 0.8rem;
  }
}
