.btn {
  background-color: #ff7a00;
  color: white;
  border: none;
}

.border {
  margin: 10px;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.backBtn {
  background-color: gray;
}

.alert {
  margin-top: 10px;
}
